# Photo Boom — ANDX NETWORK
TELEGRAM_BOT_TOKEN=
HF_SPACE=avans06/Image_Face_Upscale_Restoration-GFPGAN-RestoreFormer-CodeFormer-GPEN
USE_HF_FALLBACK=true
USE_LOCAL_MODELS=false
PUBLIC_URL=https://photo-boom-andx.fly.dev
SESSION_LIMIT=5
OUTPUT_DIR=outputs
HOST=0.0.0.0
PORT=8000
